body {
    background-color: #f8f9fa;
    color: #495057;
}

.monitoring-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.monitoring-container h2 {
    color: #2e10ad;
}

.monitoring-container p {
    color: #6c757d;
}

.footer {
    background-color: #2e10ad;
    color: #fff;
    padding: 10px 0 0 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.btn-div {
    display: flex;
    justify-content: center;
}

#startMonitoringBtn {
    background-color: #2e10ad;
    width: 100%;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: white;
    cursor: pointer;
}

.notification {
    position: fixed;
    right: 0;
    padding: 10px 20px;
    background-color: firebrick;
    border-radius: 15px;
    color: white;
    font-size: 14px;
    max-width: 400px;
    margin: 20px;
    z-index: 1000;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 1;
    visibility: visible;
}

.notification.hidden {
    opacity: 0;
    visibility: hidden;
}

.flex-title {
    display: flex;
    justify-content: space-between;
}

.settings-btn {
    cursor: pointer;
}

.settings-title {
    font-size: 22px;
    margin: 0 auto 14px;
}

.hidden {
    display: none;
}

.settings-form-btn {
    background-color: #2e10ad;
}
