body {
    background-color: #f8f9fa;
    color: #495057;
}

.monitoring-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.monitoring-container h2 {
    color: #2e10ad;
}

.monitoring-container p {
    color: #6c757d;
}

.footer {
    background-color: #2e10ad;
    color: #fff;
    padding: 10px 0 0 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.btn-div {
    display: flex;
    justify-content: center;
}

#startMonitoringBtn {
    background-color: #2e10ad;
    width: 100%;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: white;
    cursor: pointer;
}

.notification {
    position: fixed;
    right: 0;
    padding: 10px 20px;
    background-color: firebrick;
    border-radius: 15px;
    color: white;
    font-size: 14px;
    max-width: 400px;
    margin: 20px;
    z-index: 1000;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 1;
    visibility: visible;
}

.notification.hidden {
    opacity: 0;
    visibility: hidden;
}

.flex-title {
    display: flex;
    justify-content: space-between;
}

.settings-btn {
    cursor: pointer;
}

.settings-title {
    font-size: 22px;
    margin: 0 auto 14px;
}

.hidden {
    display: none;
}

.settings-form-btn {
    background-color: #2e10ad;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: modalopen;
    animation-duration: 0.4s;
    max-width: 500px
}

@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
